* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
  text-decoration: none;
}
.v20_0 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v20_1 {
  width: 200px;
  height: 200px;
  background: url("v20_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 78px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v20_15 {
  width: 100%;
  height: 862px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 218px;
  left: 0px;
  overflow: hidden;
}
.v21_107 {
  margin: 5px;
  width: 1150px;
  height: 100px;  
  position: absolute;
  top: 50px;
  left: 330px;
  overflow: hidden;
}
.v21_111 {
  width: 100%;
  height: 1080px;
  background: url("v21_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 218px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v74_159 {
  width: 100%;
  height: 218px;
  background: rgba(196,196,196,0);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
ul{
  column-gap: 36px;
  padding-top: 50px;
  padding-left: 330px;
  list-style: none;
  display:grid;
  grid-template-columns: repeat(7,1fr);
  user-select: none;
}
li{
  height: 95px;
  width: auto ;
  color: black;
  padding-top: 50px;
  border: 1px solid black;
  background-color: white;
}
li:hover {
  background-color:  black;
  color: #fff;
  user-select: none;
}
.text{  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  
}